*
{ margin:0;
padding:0;
box-sizing:border-size;
}
.container {
	width:90%;
	margin:auto;
}
.page {
	width:100%;
	height:100vh;
	background-image:Url('image/background image.jpg');
	background-size:cover;
	background-attachment:fixed;
	padding-top:5px;	
	
}
.icon	{
	font-size:20px;
	width:35%;
		
	
}
.head-section{
	justify-content: space-between;
}
.page iconify-icon {
	color:CDA45E;
}
.page {
	color:white;
}
.logo1 h1{
	font-size:25px;
	color:white;
	cursor:pointer;
	
}
.en {
	float:right;
	font-size:20px;
	
}
.navlink ul{
	display:flex;
	justify-content:space-between;
	list-style:none;
	align-items:center;
}

.navlink li a{
	text-decoration:none;
	color:white;
	padding:1rem;
	font-size:20px;
	
}
.navlink button {
	border-radius:20px;
	border-color:CDA45E;
	background-color:transparent;
}
.navlink a:hover {
	color:CDA45E;
}	
.d-flex {
	display:flex;
}
	
.logo {
	background-color:rgba(12,11,9,0.6);
	border:1px solid black;
	justify-content:space-between;
	padding:25px;
	margin-top:20px;
	
}

.head {
	margin-top:190px;
	width:50%;
}
.head h1{
font-size:55px;
}	
.head span {
	color:CDA45E;
}	

.head p{
    color:E2E0DE;
	font-size:25px;
}
.redd {
	display:flex;
	width:100%;
	justify-content:space-between;
}
.rel{
	width:45%;
	margin-top:190px;
	text-align:center;
	
}
.rel iconify-icon{
	font-size:50px;
	margin:auto;
	
	color:white;
	padding:5px;
	border-radius:50%;
	border:5px solid #CDA45E;
	background-color:#CDA45E;
	margin-top:35px;
	cursor:pointer
	
}
.head1 a{
background-color:none;
border:3px solid #C8A05C;
border-radius:15px;
padding:10px;
text-decoration:none;	
color:white;	
}
.head1{
	margin-top:30px;
}
.head1 a:hover{
	background-color:#C8A05C;
}
.about{
	width:100%;
	height:90vh;
	background-image:Url('image/background image1.jpg');
	background-size:cover;
	background-attachment:fixed;
	position:relative;
	}
	.about::after{
		content:"";
		position:absolute;
		opacity:0.7;
		background-color:black;
		top:0;
		right:0;
		left:0;
		bottom:0;
		}
	.about1 {
		display:flex;
		position:relative;
		z-index:1;
			
	}
.about2 {
	width:50%;
	height:75vh;
	margin-top:50px;
}
.about2 h3{
	font-size:25px;
	color:white;
}
.about2 p{
	font-size:20px;
	color:white;
	margin-top:15px;
}
.about2 iconify-icon{
	font-size:20px;
	color:C49D5A;
	margin-top:20px;
}
.about2 span{
	color:white;
	font-size:20px;
	margin-top:20px;
}
.about2 img{
	width:100%;
	height:75vh;
	border:4px solid #4D5355;
	}
	
.restaurant {
	width:100%;
	height:67vh;
	background-color:0C0B09;
	padding-top:10px;
	
}
.res h5{
	font-size:15px;
	margin-top:30px;
	color:gray;
	
}	
.res h5::after{
	content:"";
	height:1px;
	width:10%;
	margin-bottom:5px;
	margin-left:15px;
	background-color:gray;
	display:inline-block;
}
.res h1 {
	font-size:30px;
	color:CDA45E;
	
}
.lorem {
	width:100%;
	height:auto;
	display:flex;
	justify-content:space-between;
}
.sum {
	width:30%;
	height:37vh;
	background-color:1A1814;
	border:1px solid black;
	margin-top:20px;
}
.sum:hover {
	background-color:CDA45E;
}
.sum h5{
	color:CDA45E;
	font-size:25px;
	margin-top:50px;
	margin-left:20px;
	
}
.sum h5:hover{
	color:white;
}

.sum h1 {
	font-size:25px;
	margin-top:20px;
	margin-left:20px;
	color:white;
}
.sum p {
	font-size:20px;
	margin-top:20px;
	margin-left:20px;
	color:595855;
}
.sum p:hover{
	color:white;
}
.menu {
	width:100%;
	height:105vh;
	background-color:1A1814;
	padding-top:10px;
}
.tastymenu h5 {
	font-size:15px;
	color:878683;
	margin-top:30px;
}
.tastymenu h5::after{
	content:"";
	height:1px;
	width:10%;
	margin-bottom:5px;
	margin-left:15px;
	background-color:gray;
	display:inline-block;
}
.tastymenu h1{
    font-size:41px;
	color:CDA45E;
	margin-top:10px;
}
.menu1 {
	width:25%;
	margin:auto;
	margin-top:50px;
	
}
.menu1 a {
	text-decoration:none;
	color:white;
	font-size:17px;
	
}
.menu a:hover{
	color:CDA45E;
}
.menu1 ul {
	list-style:none;
	justify-content:space-between;
	display:flex;
}	
.starters {
	margin-top:30px;
	display:flex;
	justify-content:space-between;
}
.starter {
	display:flex;
	margin-top:10px;
}
.starters1 {
	width:50%;
	}
.lobster {
	width:15%;
}
.lobster img{
	width:70%;
	border-radius:50%;
	border:3px solid gray;
	padding:3px;
}
.lobster1 {
	width:70%;
}
.lobster1 a{
	color:white;
	width:70%;
	text-decoration:none;
	font-size:20px;
}
.lobster1 a::after{
	content:".........................................";
	margin-top:10px;
	color:gray;
	margin-left:15px;
	display:inline-block;
}
.lobster1 p {
	color:gray;
}
.lobster1 span{
	margin-left:10px;
	color:#cda45e;
}
	
.specials {
	width:100%;
	height:67%;
	background-color:0C0B09;
	padding-top:10px;
}
.special1 {
	width:100%;
	border:1px solid black;
	display:flex;
	margin-top:10px;
	justify-content:space-between;
	
}	
.special2 {
	width:20%;
	border-right:2px solid #CDA45E;
	
}
.special2 a{
	text-decoration:none;
	font-size:20px;
	color:white;
}
.special2 a:hover{
	color:#CDA45E;
}
.special2 ul li{
list-style:none;
padding:15px;
}
.special3	{
	width:47%;
	border:1px solid black;
}
.special3 h1{
	font-size:27px;
	color:white;
	margin-top:10px;
}
.special3 p{
	font-size:20px;
	color:#aaaaaa;
	margin-top:20px;
}
.special4 {
	width:30%;
	border:1px solid black;
}
.special4 img {
	width:75%;
	margin-left:35px;
}
.events {
	width:100%;
	height:91vh;
	background-image:url('image/events.jpg');
	background-size:cover;
	background-attachment:fixed;
	position:relative;
	padding-top:10px;
	
	

}
.events::after{
	content:"";
	position:absolute;
	opacity:0.7;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background-color:rgba(12,11,9,0.6);
	
	
}
.events1 {
	display:flex;
	position:relative;		
	margin-top:10px;
	
}
.events2 {
	width:48%;
	
	
	margin-top:20px;
}
.events2 img{
	width:100%;
	

}
.events2 h3{
	font-size:30px;
	color:CDA45E;
	margin-left:20px;
}
.events2 span p{
	color:white;
	font-size:25px;
	margin-top:10px;
	margin-left:20px;
}
.events2 span p:after{
content:"";
	height:1px;
	width:8.5%;
	background-color:CDA45E;
	display:block;
}
.events2 p {
margin-top:15px;
font-size:20px;
color:white;
margin-left:20px
}
.events2 ul li {
	font-size:20px;
	color:white;
	margin-top:15px;
	list-style:none;
	margin-left:20px
}
.book {
	width:100%;
	height:100vh;
	background-color:yellow;
	padding-top:10px;
}
.table1 input  {
	width:30%;
	height:7vh;
	margin-top:25px;
	justify-content:space-between

}
.table1 textarea{
	width:100%;
	height:30vh;
	margin-top:30px;
}
.table1 a{
	text-decoration:none;
}
.table1 button {
	width:10%;
	padding:1vh;
	border:1px solid balck;
	background-color:green;
	border-radius:30%;
}
	
	


	

