*{
	margin:auto;
	width:100%;
}
.container{
	background-image:url(image/wallpaper.jpg);
	width:100%;
	height:700px;
	background-repeat:no-repeat;
	background-size:cover;
}

.logo{
      border:2px solid black;
	  width:100%;
      height:100px;
	  background-color:3A4358;
	  }
	  .nav{
	  width:50%;
      height:70px;
	  
	  margin-right:20px;
	  margin-top:20px;
	  
	  }
	  .nav ul{
		  display:flex;
		  padding:10px;
		 
	  }
	  .nav ul li{

	  list-style:none;
	   margin-right:-250px;
	  }
	  .nav ul li a{
		  text-decoration:none;
		  color:white;
		  }
		  
	   .nav1{
	  
	  width:150px;
      height:50px;
	 
	  margin-left:10px;
	  margin-top:-60px;
	  text-align:center;
	   }
	   .nav1 h1{ 
	   margin-top:-50px;
	   color:white;
	   margin-left:100px;
	   
	   }
		   
	    .flower{
	  border:2px solid black;
	  width:100%;
      height:500px;
	 
	  margin-top:0px;
	   }
	    .box{
	  
	  width:70%;
      height:100px;
	  
	  margin-left:250px;
	  margin-top:100;
	   }
	   .box h1{
		   text-align:center;
		   margin-top:30px;
		   font-size:50px;
		   color:white;
	   }
	  .box1{
	  
	  width:50%;
      height:100px;
	  
	  margin-left:370px;
	  margin-top:50;
	   }
	   
	   .box1 p{
		    text-align:center;
		   margin-top:30px;
		   font-size:23px;
		   color:white;
	   }
		   
	   
	  
       .box2 button{
		   width:170px;
		   height:50px;
		   margin-left:650px;
		   border-radius:25px 25px;
		   background-color:363D4C;
		   color:white;`
	   }
	  .box2 button:hover{
		   color:orange;
	   }

	    .flower1{
	  width:100%;
      height:150px;
	  background-color:F7F8FA; 
	   }
	   
	   .flower2 img{
		   width:150px;
		   height:100px;
		   margin-left:20px;
		   margin-top:20px;
	   } 
	   
	 
	    .flower3{
	  
	  width:15%;
      height:50px;
	 
	  margin-left:250px;
	  margin-top:-55px;
	   }
	    .flower3 img{
		   width:140px;
		   height:100px;
		   margin-top:-45px;
		   
	   } 
	    .flower4{

	  width:15%;
      height:50px;
	 
	  margin-left:480px;
	  margin-top:-55px;
	   }
	    .flower4 img{
		   width:150px;
		   height:100px;
		   margin-top:-30px;
	   } 
	    .flower5{
	  
	  width:15%;
      height:50px;
	 
	  margin-left:710px;
	  margin-top:-55px;
	   }
	    .flower5 img{
		   width:150px;
		   height:100px;
		   margin-top:-20px;
	   } 
	     .flower6{	
	  width:15%;
      height:50px;
	  
	  margin-left:920px;
	  margin-top:-55px;
	   }
	    .flower6 img{
		   width:150px;
		   height:100px;
		   margin-top:-15px;
	   } 
	    .flower7{
	  width:15%;
      height:50px;

	  margin-left:1130px;
	  margin-top:-55px;
	   }
	    .flower7 img{
		   width:150px;
		   height:100px;
		   margin-top:-20px;
	   } 
	     .flower8{
	  border:2px solid black;
	  width:100%;
      height:450px;
	  background-color:white;
	   }
	     .flower9{
	  
	  width:45%;
      height:350px;
	  margin-left:100px;
	  margin-top:50px;
	   }
	   .flower9 img{
		   width:600px;
		   height:350px;
		   
	   }	
		   
	   .flower10{
	 
	  width:35%;
      height:150px;
	 
	  margin-left:730px;
	  margin-top:-350px;
	   }
	   
	      .flower10 p{
			  font-size:20px;
			  
		  }
	   
	    .flower11{
	  width:15%;
      height:150px;

	  margin-left:800px;
	  margin-top:40px;
	   }
	   .flower11 p{
		   margin-top:10px;
				
	   }
	   .flower11 h3{
		   margin-top:10px;
	   }
	   
	   
	   
	   .flower12{
	  
	  width:15%;
      height:150px;
	 
	  margin-left:1050px;
	  margin-top:-155px;
	   }
	   .flower12 h3{ 
	    margin-top:10px;
	   }
	   .flower12 p{ 
	    margin-top:10px;
	   }

	   .flower14{
		   width:100%;
		   height:510px;
		   background-color:F7F8FA;
		   border:2px solid black;
		   margin-top:20px;
		   
	   }
	   .flower15 h1{
		   font-size:30px;
		   margin-left:160px;
		   margin-top:40px;
	   }
		   .flower15 p{
			   margin-top:-35px;
			   margin-left:-10px;
			   font-size:21px;
		   }
		   .flower16 h1{
			   margin-top:-470px;
			   font-size:35px;
			   margin-left:390px;
		   }
		   .flower16 p{
			   margin-top:-7px;
			   font-size:23px;
			   margin-left:375px;
		   }
		   .flower17 h1{
			   margin-top:-60px;
			   font-size:35px;
			   margin-left:675px;
		   }
		    .flower17 p{
			   margin-top:-7px;
			   font-size:23px;
			   margin-left:650px;
		   }
			   
			   .flower18 h1{
			   margin-top:-60px;
			   font-size:35px;
			   margin-left:985px;
		   }
		    .flower18 p{
			   margin-top:-7px;
			   font-size:23px;
			   margin-left:950px;
		   }
		  
		  
		   
	    .box3{
	  border:2px solid AAC4E0;
	  width:100%;
      height:950px;
	  background-color:#f7f7f7;
	  margin-top:130px;
		}
		
		
	     .box4{
	  width:25%;
      height:70px;
	 
	  margin-top:30px;
	  margin-left:500px;
	  
	   }
	   .box4 h3{
			font-size:30px;
			text-align:center;
			margin-top:10px;
		}
	     .box5{
	  width:80%;
      height:70px;
	  
	  margin-top:5px;
	  margin-left:150px;
		 }
		 
	.page{
	  border:2px solid white;
	  width:25%;
      height:300px;
	  background-color:white;
	  margin-top:30px;
	  margin-left:150px;
		 }
		 .icon button{
		 width:100px;
		 height:100px;
		 border-radius:70px;
		 margin-top:50px;
		 margin-left:120px;
		 border:1px solid white;

		 }
		 
		 .icon iconify-icon{
			 font-size:60px;
			 margin-left:13px;
			 margin-top:7px;
			 color:47AEFF;
			 
			 
            }
			.icon button:hover{
				background-color:47AEFF;
				
			}
			.icon iconify-icon:hover{
				color:white;
			}
			
		 .pa h3{
			 text-align:center;
			 margin-top:65px;
		 }
		 .pa p{
			 margin-top:10px;
			 margin-left:25px;
			 text-align:center;
			 
		 }
		 
		 .page1{
	  border:2px solid white;
	  width:25%;
      height:300px;
	  background-color:white;
	  margin-top:-303px;
	  margin-left:530px;
		 }
		  .icon1 button{
		 width:100px;
		 height:100px;
		 border-radius:70px;
		 margin-top:50px;
		 margin-left:120px;
		 border:1px solid white;

		 }
		 
		 .icon1 iconify-icon{
			 font-size:60px;
			 margin-left:13px;
			 margin-top:7px;
			 color:FFA76E;
			 
			 
            }
			
			.icon1 button:hover{
				background-color:FDB484;
				
			}
			.icon1 iconify-icon:hover{
				color:white;
			}
			
			.pa1 h3{
			 text-align:center;
			 margin-top:65px;
		 }
		 .pa1 p{
			 margin-top:10px;
			 margin-left:35px;
			 
		 }
			
			
			
			
		 
		 
		 
		  .page2{
	  border:2px solid white;
	  width:25%;
      height:300px;
	  background-color:white;
	  margin-top:-303px;
	  margin-left:900px;
		 }
		
			 
              .icon2 button{
		 width:100px;
		 height:100px;
		 border-radius:70px;
		 margin-top:50px;
		 margin-left:120px;
		 border:1px solid white;

		 }
		 
		 .icon2 iconify-icon{
			 font-size:60px;
			 margin-left:13px;
			 margin-top:7px;
			 color:#E80368;
			 
			 
            }
			
			
			.icon2 button:hover{
				background-color:E80368;
				
			}
			.icon2 iconify-icon:hover{
				color:white;
			}
			
		 
		  .pa2 h3{
			 text-align:center;
			 margin-top:60px;
		 }
		 .pa2 p{
			 margin-top:10px;
			 margin-left:30px;
		 }
		 
		 .page3{
	  border:2px solid white;
	  width:25%;
      height:300px;
	  background-color:white;
	  margin-top:30px;
	  margin-left:150px;
		 }
		  .icon3 button{
		 width:100px;
		 height:100px;
		 border-radius:70px;
		 margin-top:50px;
		 margin-left:120px;
		 border:1px solid white;

		 }
		 
		 .icon3 iconify-icon{
			 font-size:60px;
			 margin-left:13px;
			 margin-top:7px;
			 color:#FFBB2C;
			 
			 
            }
			
			.icon3 button:hover{
				background-color:FFD47A	;
				
			}
			.icon3 iconify-icon:hover{
				color:white;
			}
			
		 .pa3 h3{
			 text-align:center;
			 margin-top:50px;
		 }
		 .pa3 p{
			 margin-top:10px;
			 margin-left:30px;
		 }
		 
		 
		 
		 .page4{
	  border:2px solid white;
	  width:25%;
      height:300px;
	  background-color:white;
	  margin-top:-300px;
	  margin-left:530px;
		 }
		   .icon4 button{
		 width:100px;
		 height:100px;
		 border-radius:70px;
		 margin-top:50px;
		 margin-left:120px;
		 border:1px solid white;

		 }
		 
		 .icon4 iconify-icon{
			 font-size:60px;
			 margin-left:13px;
			 margin-top:7px;
			 color:FFA76E;
			 
			 
            }
			
			.icon4 button:hover{
				background-color:FF5828;
				
			}
			.icon4 iconify-icon:hover{
				color:white;
			}
			
		 
		 .pa4 h3{
			 text-align:center;
			 margin-top:50px;
		 }
		 .pa4 p{
			 margin-top:10px;
			 margin-left:25px;
		 }
		 
	   .page5{
	  border:2px solid white;
	  width:25%;
      height:300px;
	  background-color:white;
	  margin-top:-300px;
	  margin-left:900px;
		 }
		 
		  .icon5 button{
		 width:100px;
		 height:100px;
		 border-radius:70px;
		 margin-top:50px;
		 margin-left:120px;
		 border:1px solid white;

		 }
		 
		 .icon5 iconify-icon{
			 font-size:60px;
			 margin-left:13px;
			 margin-top:7px;
			 color:#11DBCF;
			 
			 
            }
			
			.icon5 button:hover{
				background-color:11DBCF;
				
			}
			.icon5 iconify-icon:hover{
				color:white;
			}
		 
		 .pa5 h3{
			 text-align:center;
			 margin-top:50px;
		 }
		 .pa5 p{
			 margin-top:10px;
			 margin-left:25px;
		 }
		 
		  .apple{
	 
	  width:100%;
      height:330px;
	  background-color:414C64 ;
	  margin-top:0px;
		 }
		


		.apple1{
	 
	  width:30%;
      height:70px;
	  background-color:414C64;
	  margin-top:30px;
	  margin-left:500px;
		 }
		 .apple1 h1{
			 text-align:center;
			 margin-top:30px;
			 color:FFFFFF;
		 }
		 
		  .apple2{
	  
	  width:90%;
      height:70px;
	  background-color:414C64;
	  margin-top:30px;
		 }
		 .apple2 p{
			 text-align:center;
			 font-size:20px;
			 color:FFFFFF;
		 }
		 .apple3{
	  width:20%;
      height:55px;
      
	  margin-top:30px;
		 }
		 .apple3 button{
			 width:130px;
			 height:60px;
			 border-radius:25px 25px;
			 margin-left:130px;
			 color:FFFFFF;
			 background-color:414C64;
			 border-color:EFCA1E;
			 
		 }
		  .apple4{
	  border:2px solid FFFFFF;
	  width:100%;
      height:700px;
	  background-color:FFFFFF ;
	  margin-top:00px;
		 }
		 .apple5{
	  border:2px solid FFFFFF;
	  width:30%;
      height:100px;
	  background-color:FFFFFF;
	  margin-top:-660px;
	  margin-left:500px;
		 }
		 .apple5 h1{
			 text-align:center;
			 margin-top:30px;
		 }
		 .apple6{
	  border:2px solid FFFFFF;
	  width:90%;
      height:130px;
	  background-color:FFFFFF;
	  margin-top:30px;
	  margin-left:50px;
		 }
		 .apple6 p{
			 text-align:center;
			 margin-top: 50px;
			 font-size:20px;
			 color:AAC4E0;
		 }
		 
		  .apple7{
	  border:2px solid black;
	  width:27%;
      height:300px;
	  background-color:#C5CACA  ;
	  margin-top:30px;
	  margin-left:50px;
		 }
		.apple7 img{
		 
		 width:90px;
		 height:90px;
		 border-radius:50px;
		 margin-top:20px;
		 }
		 
		  
		 .set {
			 width:100%;
			 height:105px;
			 background-color:FAFAFC;
			 border:1px solid:white;
		 }
		 
		 .set p{
			 margin-left:10px;
		 }
		
			
			
			
			
		 .apple8{
	  border:2px solid black;
	  width:29%;
      height:300px;
	  background-color:#C5CACA  ;
	  margin-top:-300px;
	  margin-left:460px;
		 }
		 .apple8 img{
		 
		 width:90px;
		 height:90px;
		 border-radius:50px;
		 margin-top:20px;
		 }
		 
		 
		 .set1 {
			 width:100%;
			 height:105px;
			 background-color:FAFAFC;
			 border:1px solid:white;
		 }
		 
		 .set1 p{
			 margin-left:10px;
		 }
		 
			 
			 
		 .apple9{
	  border:2px solid black;
	  width:27%;
      height:300px;
	  background-color:#C5CACA  ;
	  margin-top:-300px;
	  margin-left:890px;
	 } 
	 
	 .set2 {
			 width:100%;
			 height:105px;
			 background-color:FAFAFC;
			 border:1px solid:white;
		 }
		 
		 .set2 p{
			 margin-left:10px;
		 }
		 
		  .apple9 img{
		 
		 width:90px;
		 height:90px;
		 border-radius:50px;
		 margin-top:20px;
		 }
	 
	 .note{
	  border:2px solid black;
	  width:100%;
      height:1500px;
	  background-color:#EE330D  ;
	  margin-top:40px;
	  margin-left:0px;
	 } 
	 .note1{border:2px solid green ;
		width:20%;
		height:50px;
		margin-top:-1450px;
		margin-left:520px;
		margin-bottom:10px;
	 }
	 .note2{
		 border:2px  ;
		width:90%;
		height:100px;
		margin-top:50px;
		margin-left:70px;
		margin-bottom:50px;
	 background-color:#EEEE0D;
	 }
	 .note3{border:2px solid green ;
		width:5%;
		height:20px;
		margin-top:50px;
		margin-left:450px;
		background-color:#BB8FCE ;
	 }
	 .note4{border:2px solid green ;
		width:5%;
		height:20px;
		margin-top:-20px;
		margin-left:550px;
		background-color:#BB8FCE ;
	 }
	 .note5{border:2px solid green ;
		width:5%;
		height:20px;
		margin-top:-20px;
		margin-left:650px;
		background-color:#BB8FCE ;
	 }
	 .note6{border:2px solid green ;
		width:5%;
		height:20px;
		margin-top:-20px;
		margin-left:760px;
		background-color:#BB8FCE ;
	 }
	  .note7{border:2px;
		width:27%;
		height:300px;
		margin-left:50px;
		margin-top:50px;
		background-color:blue;
	  }
		
		.note8{border:2px;
		width:27%;
		height:300px;
		margin-left:490px;
		margin-top:-300px;
		background-color:blue
		}
		
		
		.note9{border:2px solid green ;
		width:27%;
		height:300px;
		margin-left:920px;
		margin-top:-300px;
		background-color:blue;
		}
		.note10{border:2px ;
		width:27%;
		height:300px;
		margin-left:50px;
		margin-top:50px;
		background-color:#25F1D5;
		}
		
		.note11{border:2px;
		width:27%;
		height:300px;
		margin-left:490px;
		margin-top:-300px;
		background-color:#25F1D5;
		}
		
		.note12{border:2px;
		width:27%;
		height:300px;
		margin-left:920px;
		margin-top:-300px;
		background-color:#25F1D5;
		}
		.note13{border:2px;
		width:27%;
		height:300px;
		margin-left:50px;
		margin-top:50px;
		background-color:#F321F6;
		}
		
		.note14{border:2px;
		width:27%;
		height:300px;
		margin-left:490px;
		margin-top:-305px;
		background-color:#F321F6;
		}
		
		.note15{border:2px;
		width:27%;
		height:300px;
		margin-left:920px;
		margin-top:-305px;
		background-color:#F321F6;
		}
		.pen{border:2px;
		width:100%;
		height:650px;
		background-color:#AEB6BF;
		margin-top:115;
		}
		.pen1{border:2px;
		width:15%;
		height:70px;
		background-color:#ECE10B ;
		margin-top:110px;
		margin-left:600px;
		}
		.pen2{border:2px;
		width:90%;
		height:100px;
		background-color:#ECE10B;
		margin-top:30px;
		margin-left:70px;
		}
		
		.pen3{border:2px;
		width:20%;
		height:300px;
		background-color:#ECE10B;
		margin-top:30px;
		margin-left:70px;
		}
		.pen4{border:2px;
		width:20%;
		height:300px;
		background-color:#ECE10B;
		margin-top:-300px;
		margin-left:370px;
		}
		
		.pen5{border:2px;
		width:20%;
		height:300px;
		background-color:#ECE10B;
		margin-top:-300px;
		margin-left:670px;
		}
		
		.pen6{border:2px;
		width:20%;
		height:300px;
		background-color:#ECE10B;
		margin-top:-300px;
		margin-left:970px;
			}
		
		.about{border:2px;
		width:100%;
		height:800px;
		background-color:#5E5CE3
		}
		.about1{border:2px solid green ;
		width:20%;
		height:50px;
		background-color:#31E7ED;
		margin-left:520px;
		margin-top:0px;
		}
		.about2{border:2px solid green ;
		width:90%;
		height:100px;
		background-color:#31E7ED;
		margin-left:70px;
		margin-top:30px;
		}
		.about3{border:2px solid green ;
		width:21%;
		height:350px;
		background-color:#31E7ED;
		margin-left:70px;
		margin-top:55px;
		}
		.about4{border:2px solid green ;
		width:21%;
		height:350px;
		background-color:#31E7ED;
		margin-left:375px;
		margin-top:-355px;
		}
		.about5{border:2px solid green ;
		width:21%;
		height:350px;
		background-color:#31E7ED;
		margin-left:675px;
		margin-top:-355px;
		}
		
		.about6{border:2px solid green ;
		width:21%;
		height:350px;
		background-color:#31E7ED;
		margin-left:975px;
		margin-top:-355px;
		}
		.about7{border:2px solid green ;
		width:21%;
		height:100px;
		background-color:#31E7ED;
		margin-left:70px;
		margin-top:0px;
		}
		
		.about8{border:2px solid green ;
		width:21%;
		height:100px;
		background-color:#31E7ED;
		margin-left:375px;
		margin-top:-105px;
		}
		
		.about9{border:2px solid green ;
		width:21%;
		height:100px;
		background-color:#31E7ED;
		margin-left:675px;
		margin-top:-105px;
		}
		
		.about10{border:2px solid green ;
		width:21%;
		height:100px;
		background-color:#31E7ED;
		margin-left:975px;
		margin-top:-105px;
		}
		
		.about11{border:2px solid green ;
		width:21%;
		height:75px;
		background-color:#31E7ED;
		margin-left:70px;
		margin-top:-450px;
		}
		
		.about12{border:2px solid green ;
		width:50%;
		height:75px;
		background-color:yellow;
		margin-left:70px;
		margin-top:360px;
		}
		
		.about13{border:2px solid green ;
		width:21%;
		height:75px;
		background-color:#31E7ED;
		margin-left:375px;
		margin-top:-80px;
		}
		
		
		.about14{border:2px solid green ;
		width:50%;
		height:75px;
		background-color:yellow;
		margin-left:70px;
		margin-top:360px;
		}
		
		.about15{border:2px solid green ;
		width:21%;
		height:75px;
		background-color:#31E7ED;
		margin-left:675px;
		margin-top:-80;
		}
		
		.about16{border:2px solid green ;
		width:50%;
		height:75px;
		background-color:yellow;
		margin-left:70px;
		margin-top:360px;
		}
		.about17{border:2px solid green ;
		width:21%;
		height:75px;
		background-color:#31E7ED;
		margin-left:975px;
		margin-top:-80px;
		}
		
		.about18{border:2px solid green ;
		width:50%;
		height:75px;
		background-color:yellow;
		margin-left:70px;
		margin-top:360px;
		}
		.menu{border:2px solid green ;
		width:100%;
		height:830;px;
		background-color:#F7324A;
		}
		
		.menu1{border:2px solid green ;
		width:50%;
		height:55px;
		background-color:#5DADE2;
		margin-left:330px;
		margin-top:30px;
		}
		
		.menu2{border:2px solid green ;
		width:80%;
		height:55px;
		background-color:#5DADE2;
		margin-left:140px;
		margin-top:30px;
		}
		.menu3{border:2px solid green ;
		width:60%;
		height:90;px;
		background-color:#5DADE2;
		margin-top:30px;
		margin-left:250px;
		}
		
		.menu4{border:2px solid green ;
		width:60%;
		height:60;px;
		background-color:#5DADE2;
		margin-top:30px;
		margin-left:250px;
		}
		
		
		.menu5{border:2px solid green ;
		width:60%;
		height:60;px;
		background-color:#5DADE2;
		margin-top:30px;
		margin-left:250px;
		}
		.menu6{border:2px solid green ;
		width:60%;
		height:60;px;
		background-color:#5DADE2;
		margin-top:30px;
		margin-left:250px;
		}
		
		
		.menu7{border:2px solid green ;
		width:60%;
		height:60;px;
		background-color:#5DADE2;
		margin-top:30px;
		margin-left:250px;
		}
		
		.menu8{border:2px solid green ;
		width:60%;
		height:60px;
		background-color:#5DADE2;
		margin-top:30px;
		margin-left:250px;
		}
		
		.orange{border:2px solid green ;
		width:100%;
		height:700px;
		background-color:#B2BABB;
		margin-top:60px;
		}
		
		.orange1{border:2px solid green ;
		width:20%;
		height:45px;
		background-color:#2ECC71 ;
		margin-top:50px;
		margin-left:550px;
		}
		
		.orange2{border:2px solid green ;
		width:90%;
		height:75px;
		background-color:#2ECC71 ;
		margin-top:50px;
		margin-left:70px;
		}
		
		.orange3{border:2px solid green ;
		width:43%;
		height:250px;
		background-color:#2ECC71 ;
		margin-top:30px;
		margin-left:70px;
		}
		
		.orange4{border:2px solid green ;
		width:21%;
		height:150px;
		background-color:#2ECC71 ;
		margin-top:30px;
		margin-left:70px;
		}
		
		.orange5{border:2px solid green ;
		width:21%;
		height:150px;
		background-color:#2ECC71 ;
		margin-top:-155px;
		margin-left:370px;
		}
		
		.orange6{border:2px solid green ;
		width:43%;
		height:430px;
		background-color:#2ECC71 ;
		margin-top:-440px;
		margin-left:700px;
		}
		
		
		.orange7{border:2px solid green ;
		width:40%;
		height:50px;
		background-color:#5D6D7E ;
		margin-top:30px;
		margin-left:25px;
		}
		
		.orange8{border:2px solid green ;
		width:40%;
		height:50px;
		background-color:#5D6D7E ;
		margin-top:-55px;
		margin-left:300px;
		}
		
		.orange9{border:2px solid green ;
		width:90%;
		height:50px;
		background-color:#5D6D7E ;
		margin-top:25px;
		margin-left:20px;
		}
		
		.orange10{border:2px solid green ;
		width:90%;
		height:150px;
		background-color:#5D6D7E ;
		margin-top:25px;
		margin-left:20px;
		}
		
		.orange11{border:2px solid green ;
		width:20%;
		height:30px;
		background-color:#5D6D7E ;
		margin-top:20px;
		margin-left:220px;
		}
		
		.orange12{border:2px solid green ;
		width:100%;
		height:350px;
		background-color:#BB8FCE;
		margin-top:31px;
		}
		
		.orange13{border:2px solid green ;
		width:23%;
		height:250px;
		background-color:#BB8FCE;
		margin-left:30px;
		margin-top:-300px;
		}
		
	    .orange14{border:2px solid green ;
		width:23%;
		height:250px;
		background-color:#BB8FCE;
		margin-left:370px;
		margin-top:-250px;
		}
		
		.orange15{border:2px solid green ;
		width:23%;
		height:250px;
		background-color:#BB8FCE;
		margin-left:700px;
		margin-top:-250px;
		}
		
		.orange16{border:2px solid green ;
		width:23%;
		height:250px;
		background-color:#BB8FCE;
		margin-left:1020px;
		margin-top:-260px;
		}
		
		.orange17{border:2px solid green ;
		width:100%;
		height:350px;
		background-color:blue;
		margin-top:45px;
		}
		
	
		
		
		
		
		
		
	  
		
		
		
		
		
	 
	 

      
     


		 
		
		 
	  
		  
