<html>
<head>
<title>web Design</title>
</head>
<body>
	<section class="container">
		
		<div style="border:2px solid black;
		width:100%;
		height:100px;
		background-color:green;">
		   <div style="border:2px solid #1FEBD2 ;
		width:50%;
		height:50px;
		float:right;
		margin-right:70px;
		margin-top:10px;">

		</div>
		
		<div style="border:2px solid #1FEBD2 ;
		width:200px;
		height:50px;
		float:left;
		margin-top:10px;">

		</div>

		</div>
		<div style="border:2px solid black;
		width:100%;
		height:500px;
		background-color:#4B6AF8  ;">
		
		<div style="border:2px solid green ;
		width:50%;
		height:70px;
		margin-top:150px;
		margin-left:250;">

		</div>
		
		<div style="border:2px solid green ;
		width:70%;
		height:50px;
		margin-top:70px;
		margin-left:150;">
       </div>
	   
	   <div style="border:2px solid green ;
		width:20%;
		height:70px;
		margin-top:50px;
		margin-left:500px;">
       </div>
		</div>
		<div style="border:2px  solid black;
		width:100%;
		height:100px;
		background-color:#E1EEDE ">
		
		<div style="border:2px solid green ;
		width:10%;
		height:50px;
		margin-left:100px;
		margin-top:20px;">
       </div>
	   
	   <div style="border:2px solid green ;
		width:130px;
		height:50px;
		margin-left:300px;
		margin-bottom:450px;
		margin-top:-50px;">
       </div>

	   
	   
	   
       </div>
	   <div>
	   <div style="border:2px solid green ;
		width:100%;
		height:700px;
		background-color:#A412EC ">
		
		<div style="border:2px solid green ;
		width:45%;
		height:450px;
		background-color:#F7DC6F;
		margin-left:70px;
		margin-top:100px;	">
		</div>
		
		<div style="border:2px solid green ;
		width:40%;
		height:70px;
		float:right;
		margin-bottom:-700px;
		margin-top:-450px;
		margin-right:50px;">
		</div>
		
		<div style="border:2px solid green ;
		width:40%;
		height:70px;
		float:right;
		margin-right:50px;
		margin-top:-350px">
		</div>
		
		<div style="border:2px solid green ;
		width:5%;
		height:30px;
		float:right;
		margin-top:-200px;
		margin-right:500px;">
		</div>
		
		<div style="border:2px solid green ;
		width:5%;
		height:30px;
		float:right;
		margin-top:-200px;
		margin-right:100px;">
		</div>
		
		<div style="border:2px solid green ;
		width:20%;
		height:100px;
		float:right;
		margin-top:-130px;
		margin-right:370px;">
		</div>
		
		<div style="border:2px solid green ;
		width:20%;
		height:100px;
		float:right;
		margin-top:-130px;
		margin-right:70px;">
		</div>
		</div>
	   
	   <div style="border:2px solid green ;
		width:100%;
		height:100px;
		background-color:#AEB6BF">
	   </div>
	   
	    <div style="border:2px solid green ;
		width:100%;
		height:850px;
		background-color:#51ED35">
		
		
		<div style="border:2px solid green ;
		width:20%;
		height:30px;
		background-color:#51ED35;
		margin-left:500px;
		margin-top:10px;">
		</div>

		<div style="border:2px solid green ;
		width:81%;
		height:70px;
		margin-left:150px;
		margin-top:10px;">
		</div>
		
		<div style="border:2px solid green ;
		width:25%;
		height:300px;
		margin-left:150px;
		margin-top:10px;">
		</div>
		
		<div style="border:2px solid green ;
		width:25%;
		height:300px;
		margin-left:520px;
		margin-top:-300px;">
		</div>
		
		<div style="border:2px solid green ;
		width:25%;
		height:300px;
		margin-left:900px;
		margin-top:-300px;">
		</div>
		
	   </div>
	  <div style="border:2px solid green ;
		width:25%;
		height:300px;
		margin-left:150px;
		margin-top:-400px;">
		</div>
		
		<div style="border:2px solid green ;
		width:25%;
		height:300px;
		margin-left:530px;
		margin-top:-300px;">
		</div>
		
		<div style="border:2px solid green ;
		width:25%;
		height:300px;
		margin-left:900px;
		margin-left:900px;
		margin-top:-300px;">
		</div>
	  
	   <div style="border:2px solid green ;
		width:100%;
		height:350px;
		margin-top:87px;
		background-color:#F309AF;">
		
		<div style="border:2px solid green ;
		width:30%;
		height:70px;
		margin-top:30px;
		margin-left:450px;">
		</div>
		
		<div style="border:2px solid green ;
		width:90%;
		height:70px;
		margin-top:30px;
		margin-left:50px;">
		</div>
		
		<div style="border:2px solid green ;
		width:30%;
		height:70px;
		margin-top:30px;
		margin-left:450px;">
		</div>
		</div>
		
	  <div style="border:2px solid green ;
		width:100%;
		height:700px;
		background-color:#EDDA55">
		</div>
	  
	  <div style="border:2px solid green ;
		width:30%;
		height:70px;
		margin-top:-650px;
		margin-left:450px;">
		</div>
		
		<div style="border:2px solid green ;
		width:87%;
		height:100px;
		margin-top:50px;
		margin-left:100px;">
		</div>
	  
	  <div style="border:2px solid green ;
		width:27%;
		height:330px;
		margin-top:50px;
		margin-left:100px;">
		</div>
		
		 <div style="border:2px solid green ;
		width:27%;
		height:330px;
		margin-top:-330px;
		margin-left:500px;">
		</div>
		
		<div style="border:2px solid green ;
		width:27%;
		height:330px;
		margin-top:-330px;
		margin-left:900px;">
		</div>
		</div>
		
		<div style="border:2px solid green ;
		width:100%;
		height:100px;
		margin-top:30px;
		margin-left:0px;">
		</div>
	   
	   <div style="border:2px solid green ;
		width:100%;
		height:1500px;
		margin-top:0px;
		margin-left:0px;
		background-color:#7CF015;">
		</div>
		
		<div style="border:2px solid green ;
		width:20%;
		height:50px;
		margin-top:-1500px;
		margin-left:520px;
		margin-bottom:10px;">
		</div>
	   
	    <div style="border:2px solid green ;
		width:90%;
		height:100px;
		margin-top:50px;
		margin-left:70px;
		margin-bottom:50px;">
		</div>
		
		<div style="border:2px solid green ;
		width:5%;
		height:20px;
		margin-top:50px;
		margin-left:530px;">
		</div>
		
		<div style="border:2px solid green ;
		width:5%;
		height:20px;
		margin-top:-25;px;
		margin-left:610px;">
		</div>
		
		<div style="border:2px solid green ;
		width:5%;
		height:20px;
		margin-top:-25;px;
		margin-left:690px;">
		</div>

		<div style="border:2px solid green ;
		width:5%;
		height:20px;
		margin-top:-25;px;
		margin-left:770px;">
		</div>
		
		<div style="border:2px solid green ;
		width:27%;
		height:300px;
		margin-left:50px;
		margin-top:50px;
		background-color:blue;">
		</div>
		
		<div style="border:2px solid green ;
		width:27%;
		height:300px;
		margin-left:490px;
		margin-top:-300px;
		background-color:blue;">
		</div>
		
		<div style="border:2px solid green ;
		width:27%;
		height:300px;
		margin-left:920px;
		margin-top:-300px;
		background-color:blue;">
		</div>
		
		<div style="border:2px solid green ;
		width:27%;
		height:300px;
		margin-left:50px;
		margin-top:50px;
		background-color:#25F1D5;">
		</div>
		
		<div style="border:2px solid green ;
		width:27%;
		height:300px;
		margin-left:490px;
		margin-top:-300px;
		background-color:#25F1D5;">
		</div>
		
		<div style="border:2px solid green ;
		width:27%;
		height:300px;
		margin-left:920px;
		margin-top:-300px;
		background-color:#25F1D5;">
		</div>
		
		<div style="border:2px solid green ;
		width:27%;
		height:300px;
		margin-left:50px;
		margin-top:50px;
		background-color:#F321F6;">
		</div>
		
		<div style="border:2px solid green ;
		width:27%;
		height:300px;
		margin-left:490px;
		margin-top:-305px;
		background-color:#F321F6;">
		</div>
		
		<div style="border:2px solid green ;
		width:27%;
		height:300px;
		margin-left:920px;
		margin-top:-305px;
		background-color:#F321F6;">
		</div>
		</div>
		
		<div style="border:2px solid green ;
		width:100%;
		height:650px;
		background-color:#AEB6BF;
		margin-top:130;">
		
		<div style="border:2px solid green ;
		width:10%;
		height:50px;
		background-color:#ECE10B ;
		margin-top:70px;
		margin-left:600px;">
		</div>
		
		<div style="border:2px solid green ;
		width:90%;
		height:100px;
		background-color:#ECE10B;
		margin-top:30px;
		margin-left:70px;">
		</div>
		
		<div style="border:2px solid green ;
		width:20%;
		height:300px;
		background-color:#ECE10B;
		margin-top:30px;
		margin-left:70px;">
		</div>
		
		<div style="border:2px solid green ;
		width:20%;
		height:300px;
		background-color:#ECE10B;
		margin-top:-300px;
		margin-left:370px;">
		</div>
		
		<div style="border:2px solid green ;
		width:20%;
		height:300px;
		background-color:#ECE10B;
		margin-top:-300px;
		margin-left:670px;">
		</div>
		
		<div style="border:2px solid green ;
		width:20%;
		height:300px;
		background-color:#ECE10B;
		margin-top:-300px;
		margin-left:970px;">
		</div>
		</div>
		
		
		<div style="border:2px solid green ;
		width:100%;
		height:800px;
		background-color:#5E5CE3;">
		
		<div style="border:2px solid green ;
		width:20%;
		height:50px;
		background-color:#31E7ED;
		margin-left:520px;
		margin-top:30px;">
		</div>
		
		<div style="border:2px solid green ;
		width:90%;
		height:100px;
		background-color:#31E7ED;
		margin-left:70px;
		margin-top:30px;">
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:350px;
		background-color:#31E7ED;
		margin-left:70px;
		margin-top:30px;">
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:350px;
		background-color:#31E7ED;
		margin-left:375px;
		margin-top:-355px;">
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:350px;
		background-color:#31E7ED;
		margin-left:675px;
		margin-top:-355px;">
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:350px;
		background-color:#31E7ED;
		margin-left:975px;
		margin-top:-355px;">
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:100px;
		background-color:#31E7ED;
		margin-left:70px;
		margin-top:0px;">
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:100px;
		background-color:#31E7ED;
		margin-left:375px;
		margin-top:-105px;">
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:100px;
		background-color:#31E7ED;
		margin-left:675px;
		margin-top:-105px;">
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:100px;
		background-color:#31E7ED;
		margin-left:975px;
		margin-top:-105px;">
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:75px;
		background-color:#31E7ED;
		margin-left:70px;
		margin-top:-450px;">
		
		<div style="border:2px solid green ;
		width:50%;
		height:75px;
		background-color:yellow;
		margin-left:70px;
		margin-top:360px;">
		</div>
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:75px;
		background-color:#31E7ED;
		margin-left:375px;
		margin-top:-80px;">
		
		<div style="border:2px solid green ;
		width:50%;
		height:75px;
		background-color:yellow;
		margin-left:70px;
		margin-top:360px;">
		</div>
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:75px;
		background-color:#31E7ED;
		margin-left:675px;
		margin-top:-80;px;">
		
		<div style="border:2px solid green ;
		width:50%;
		height:75px;
		background-color:yellow;
		margin-left:70px;
		margin-top:360px;">
		</div>
		</div>
		
		
		<div style="border:2px solid green ;
		width:21%;
		height:75px;
		background-color:#31E7ED;
		margin-left:975px;
		margin-top:-80;px;">
		
		<div style="border:2px solid green ;
		width:50%;
		height:75px;
		background-color:yellow;
		margin-left:70px;
		margin-top:360px;">
		</div>
		</div>
		</div>
		
		<div style="border:2px solid green ;
		width:100%;
		height:830;px;
		background-color:#F7324A;">
		
		<div style="border:2px solid green ;
		width:50%;
		height:55px;
		background-color:#5DADE2;
		margin-left:330px;
		margin-top:30px;">
		</div>
		
		<div style="border:2px solid green ;
		width:80%;
		height:55px;
		background-color:#5DADE2;
		margin-left:140px;
		margin-top:30px;">
		</div>
		
		<div style="border:2px solid green ;
		width:60%;
		height:90;px;
		background-color:#5DADE2;
		margin-top:30px;
		margin-left:250px;">
		</div>
		
		<div style="border:2px solid green ;
		width:60%;
		height:60;px;
		background-color:#5DADE2;
		margin-top:30px;
		margin-left:250px;">
		</div>
		
		
		<div style="border:2px solid green ;
		width:60%;
		height:60;px;
		background-color:#5DADE2;
		margin-top:30px;
		margin-left:250px;">
		</div>
		
		<div style="border:2px solid green ;
		width:60%;
		height:60;px;
		background-color:#5DADE2;
		margin-top:30px;
		margin-left:250px;">
		</div>
		
		
		<div style="border:2px solid green ;
		width:60%;
		height:60;px;
		background-color:#5DADE2;
		margin-top:30px;
		margin-left:250px;">
		</div>
		
		<div style="border:2px solid green ;
		width:60%;
		height:60px;
		background-color:#5DADE2;
		margin-top:30px;
		margin-left:250px;">
		</div>
        
		<div style="border:2px solid green ;
		width:100%;
		height:700px;
		background-color:#B2BABB;
		margin-top:60px;">
		</div>
		
		<div style="border:2px solid green ;
		width:20%;
		height:45px;
		background-color:#2ECC71 ;
		margin-top:-650px;
		margin-left:550px;">
		</div>
		
		<div style="border:2px solid green ;
		width:90%;
		height:75px;
		background-color:#2ECC71 ;
		margin-top:30px;
		margin-left:70px;">
		</div>
		
		<div style="border:2px solid green ;
		width:43%;
		height:250px;
		background-color:#2ECC71 ;
		margin-top:30px;
		margin-left:70px;">
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:150px;
		background-color:#2ECC71 ;
		margin-top:30px;
		margin-left:70px;">
		</div>
		
		<div style="border:2px solid green ;
		width:21%;
		height:150px;
		background-color:#2ECC71 ;
		margin-top:-155px;
		margin-left:370px;">
		</div>
		
		
		<div style="border:2px solid green ;
		width:43%;
		height:430px;
		background-color:#2ECC71 ;
		margin-top:-440px;
		margin-left:700px;">
		
		
		<div style="border:2px solid green ;
		width:40%;
		height:50px;
		background-color:#5D6D7E ;
		margin-top:30px;
		margin-left:25px;">
		</div>
		
		<div style="border:2px solid green ;
		width:40%;
		height:50px;
		background-color:#5D6D7E ;
		margin-top:-55px;
		margin-left:300px;">
		</div>
		
		<div style="border:2px solid green ;
		width:90%;
		height:50px;
		background-color:#5D6D7E ;
		margin-top:25px;
		margin-left:20px;">
		</div>
		
		<div style="border:2px solid green ;
		width:90%;
		height:150px;
		background-color:#5D6D7E ;
		margin-top:25px;
		margin-left:20px;">
		</div>
		
		<div style="border:2px solid green ;
		width:20%;
		height:30px;
		background-color:#5D6D7E ;
		margin-top:20px;
		margin-left:220px;">
		</div>
		</div>
		
		<div style="border:2px solid green ;
		width:100%;
		height:350px;
		background-color:#BB8FCE;
		margin-top:31px;">
		</div>
		
		<div style="border:2px solid green ;
		width:23%;
		height:50px;
		background-color:#BB8FCE;
		margin-left:10px;
		margin-top:10px;">
		</div>
		
		</div>
		
		

		 
		 

</section>
</body>
</html>