*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:85%;
	margin:auto;
}
.header{
	width:100%;
		

}
	
body{
	font-family: 'Roboto', sans-serif;
}


.header1{
	width%:100%;
	justify-content:space-between;
	display:flex;					
}
.head1{
	width:33%;
	display:flex;
	justify-content:space-between;
	
}
.head{
	width:47%;
	
}
.head iconify-icon{
	font-size:20px;
	color:#428BCA;
}
.head a{
	text-decoration:none;
	color:black;	
	font-size:15px;	
}
.face{
	width:15%;
	display:flex;
	justify-content:space-between;
}
.face iconify-icon{
	font-size:1.5rem;
	color:gray;
	cursor:pointer;
	
}
 hr{
margin-top:20px;
}	
.content{
	width:100%;
	display:flex;
	justify-content:space-between;	
}
.mamba{
margin-top:1rem;
}
.mamba1 {
	font-size:1.7rem;
	color:#1C5CAF;
	text-decoration:none;
}
.logo{
	width:55%;
margin-top:1.3rem;

}
.logo ul{
	display:flex;
justify-content:space-between;
}
	
.logo ul li{
	list-style:none;
		
}
.logo a{
	text-decoration:none;
	font-size:1rem;
	color:gray;
	}
	.lorem{
		background-image:url("slide-1.jpg");
		width:100%;
		height:85vh;
		background-size:cover;
		background-attachment:fixe;
		
	}
.dolor h1 {
	font-size:3rem;
	padding-top:10rem;
	color:white;
	font-weight:100rem;
}
.dolor p{
	
	width:60%;
	font-size:1.3rem;
	color:white;
	padding-top:1rem;
}
.
/* .lin a{

	width:10%;
	text-decoration:none;
	margin-top:3rem;
	border:1px solid black;
	color:white;
	 */
}
	
	
		